.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 150px; /* fixed width */
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 40;

  /* initially hidden above */
  opacity: 0;
  transform: translateY(-100%);
}

.sidebar.open {
  opacity: 1;
  transform: translateY(0); /* slide down into view */
}

.sidebar.closed {
  opacity: 0;
  transform: translateY(-100%); /* slide back up */
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 70px; /* sidebar content niche se start hoga */
}
.menu-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  font-size: 0.85rem;
  color: black;
  transition: background-color 0.2s ease;
}

.menu-item:hover {
  background-color: #f3f3f3;
  border-radius: 0.5rem;
}
